@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-gtr-contrast: rgb(0, 0, 0);
    --color-gtr-base: rgb(25, 25, 25);
    --color-gtr-muted: rgb(60, 60, 60);
    --color-gtr-soft: rgb(200, 200, 200);
    --color-gtr-hover: rgb(225, 225, 225);
    --color-gtr-pale: rgb(245, 245, 245);
    --color-gtr-highlight: rgb(120, 140, 255);
    --color-gtr-accent: rgb(100, 120, 230);
    --color-gtr-active: rgb(80, 100, 210);
    --color-gtr-warning: rgb(255, 170, 100);
    --color-gtr-error: rgb(255, 120, 120);
}

.dark {
    --color-gtr-contrast: rgb(255, 255, 255);
    --color-gtr-base: rgb(245, 245, 245);
    --color-gtr-muted: rgb(200, 200, 200);
    --color-gtr-soft: rgb(60, 60, 60);
    --color-gtr-hover: rgb(45, 45, 45);
    --color-gtr-pale: rgb(25, 25, 25);
    --color-gtr-highlight: rgb(100, 120, 255);
    --color-gtr-accent: rgb(80, 100, 220);
    --color-gtr-active: rgb(60, 80, 200);
    --color-gtr-warning: rgb(255, 140, 90);
    --color-gtr-error: rgb(210, 90, 90);
}

@theme {
    --font-blazma: 'Blazma', system-ui, sans-serif;
    --font-ceraPro: 'CeraPro', system-ui, sans-serif;
}

html {
    font-family: 'CeraPro', sans-serif;
    font-size: 16px;
}