@import "tailwindcss";
@import "@nuxt/ui";
@import "./theme.css";
@import "./ui.css";

@theme {
    --font-blazma: 'Blazma', system-ui, sans-serif;
    --font-ceraPro: 'CeraPro', system-ui, sans-serif;
}

html {
    font-family: 'CeraPro', sans-serif;
    font-size: 16px;
}

.m-menu-enter-active,
.m-menu-leave-active {
    transition: opacity 300ms ease, transform 300ms ease;
}

.m-menu-enter-from,
.m-menu-leave-to {
    opacity: 0;
    transform: translateY(50px);
}